<footer>
  <div class="container">
    <p>{{ site.name }} | {{ site.address }} | <a href="tel:{{ site.phone }}">{{ site.phoneDisplay }}</a></p>
    <p>&copy; {{ site.year }} {{ site.name }}. Alle rechten voorbehouden.</p>
  </div>
</footer>
